#IndieFlower {font-family: IndieFlower;}
#Anton {font-family: Anton;}
#ChelaOne {font-family: ChelaOne;}
#Dosis {font-family: Dosis;}
#Lato {font-family: Lato;}
#Markazi {font-family: Markazi;}
#OpenSans {font-family: OpenSans;}
#OpenSansCondensed {font-family: OpenSansCondensed;}
#Quicksand {font-family: Quicksand;}
#RobotoCondensed {font-family: RobotoCondensed;}