body {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
    color: white;
}

html{
    background-color:#000014;
}


.grid div{
    background-color: 	#12141f;
}

#nav
{   
    height: 675px;
    background-image: url(../images/keyboard.jpg);
    background-size: cover;
	color:#fff;
    border-color: #333;
    border-width: 5px;
    font-size: 16px;
    text-align: center;
    opacity: 0.8;
}

#nav:hover
{
    opacity: 1;
}

#nav ul
{
    list-style: none;
    padding: 0px;
    float: left;
    padding-top: 20px;
}

#nav li
{
    display:inline;
    padding-left: 50px;
    padding-right: 50px;
}

#navlinks
{
    padding: 3px;
    text-decoration: none;
    color: #000;
    background: rgba(255, 255, 255, 0.068);
}

#navlinks:hover
{
    background: rgba(255, 255, 255, 0.5);
}

#nav h3{
    text-align: left;
    font-size: 60px;
    padding-left: 50px;
}

#collabs{
    height: 675px;
    background-image: url(../images/buisness.png);
    background-size: cover;
    padding-top: 175px;
    /*padding-right: 100px;*/
    width: 50%;
    background-position-x: -300px;
    text-align: center;
    float: left;
    opacity: 0.8;
}

#collabs:hover{
    opacity: 1;
}

#products{
    height: 675px;
    background-image: url(../images/startup.jpg);
    background-size: cover;
    padding-top: 175px;
    /*padding-right: 100px;*/
    width:50%;
    /*background-position-x: -300px;*/
    text-align: center;
    float: right; /*up!*/
    opacity: 0.8;
}

#products:hover{
    opacity: 1;
}
#title
{
   font-family: "Roboto", sans-serif; 
}

#footer {
    font-size: 25px;
    font-family: Markazi;
    background-color: #000014;
    text-align: center;
}

#forum-button
{
    
}

#forum-button-link
{
    margin-bottom: 50px;
    margin-right: 45%;
    text-decoration: none;
    color: #777;  
    padding: 15px;
    border: none;
    background: rgb(1, 8, 71);
    box-shadow: 2px 2px black;
    left: 25%;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    font-family: Quicksand;
    right: 50%;
}

#forum-button-link:hover
{
    color: #fff;
}

#collab-products-button-link
{
    text-decoration: none;
    color: rgb(158, 158, 158);
    font-family: Anton;
    letter-spacing: 1px;
    text-shadow: 5px 5px black;
}

#collab-products-button-link:hover
{
    color: rgb(255, 255, 255);
}


/*COMMENTS*/
/*
Talk here :D Should I change the FORUM font back to roboto or leave it as it is? Roboto Done
*/
