body {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
    color: white;
}

html{
    background-color:#000014; // #595a62
}

.grid{
    display: grid;
    grid-template-rows: 100px, 100px, 100px;
    grid-row-gap: 20px;
}

.grid div{
    background-color: 	#12141f;
}

#nav
{
	color:#fff;
    height: 300px;
    border-color: #333;
    border-width: 5px;
    font-size: 16px;
    text-align: center;
    background-image: url(../images/technology-785742_1920.jpg);
    background-size: cover;
}

#nav ul
{
    list-style: none;
    padding: 0px;
    float: left;
    padding-top: 20px;
}

#nav li
{
    display:inline;
    padding-left: 50px;
    padding-right: 50px;
}

#nav a
{
    padding: 3px;
    text-decoration: none;
    color: #000;
    background: rgba(255, 255, 255, 0.281);
    border-radius: 5%;
}

#nav a:hover
{
    background: rgba(255, 255, 255, 0.5);
}

#nav h3{
    text-align: left;
    font-size: 40px;
    padding-left: 50px;
}

#products-collabs{
    background-color: #12141f;
}

}

#footer {
    font-size: 35px;
    font-family: Markazi;
}