body{
	background-color:black;
	color:#555555;

	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	/* Same as above */
	font: normal 16px Arial, Helvetica, sans-serif;

	line-height:1.6em;
	margin:0;
}

.Header
{
	background-color: black;
	border: solid black;
	border-width: 20px;
}

.Header h1
{
	color: white;
}

#Container
{
background-color:#d3d3d3;
margin: auto;
}

.Nav
{
	background-color:#333;
	color:#fff;
	height: 40px;
}

.Nav ul
{
	list-style: none;
	padding-top: 9px;
}

.Nav li
{
	display:inline;
}

.Nav a
{
	color:#fff;
	text-decoration: none;
	font-size:20px;
	padding-right:18px;
}

.Box-1
{
background-image:url(Monitor.jpg);
	background-position:center right;
	height:300px;
	margin-bottom:30px;
	text-align: center;
	color: white;
}

.Box-1 h1
{
	padding-top: 70px;
	font-size: 50px;
	margin:15px;
}

.Box-2
{
	width: 62%;
	float: left;
	border: dashed white;
	background-color:#d3d3d3;
	color:#696969;
	margin-left: 20px;
	font-size: 14px;
	padding-left: 10px;
}

.Box-3
{
	width: 30%;
	float: right;
	margin-bottom: 50px;
	margin-left: 40px;
	border: solid black;
	color: white;
	background-color: black;
	padding-right: 20px;
	text-align: center;
}

.Box-3 ul
{
	list-style: none;
	padding:0;
}

.Box-4
{
	float: left;
	width: 68%;
	background-image: url(iets.jpg);
	height: 350px;
	margin-top: 20px;
	color: white;
	text-align: left;
	padding-left: 20px;
	margin-left: 0;
	margin-right: 0;
}

.Box-4 ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.Box-5
{
	float: right;
	width: 30%;
	background-image: url(code.jpg);
	height: 350px;
	margin-top: 20px;
}


.Footer
{
		clear: both;
		text-align: center;
}